
{% extends "layout.html" %}


{% block head %}
<title> Art Muse </title>
{% endblock %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Art Muse</a></li>
        <!--li><a href="/validate">HELP VALIDATE!</a></li-->
        <li><a href="https://docs.google.com/presentation/d/1x21zJZzAL3DlFL3KI4l6KDcuTBYtX4fJmXw7FKRFJNw/edit?usp=sharing">About Me</a></li>
        <li><a href="http://www.github.com/adampallus/artmagic">ArtMuse Github Page</a></li>
        <li><a href="https://docs.google.com/presentation/d/1x21zJZzAL3DlFL3KI4l6KDcuTBYtX4fJmXw7FKRFJNw/edit?usp=sharing"> How does it work? <span class="sr-only">(current)</span></a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- Logo -->
    <div class="row top10bottom2">
      <div class="col-lg-4 col-md-4"></div>

      <div class="col-lg-4 col-md-4 center-block">
        <img class='center-block img-responsive' src="/static/img/artmagic-logo.jpg"/ max-width='50%';>
      </div>

      <div class="col-lg-4 col-md-4"></div>

    </div>

    <!-- Form -->
    <div class="container">

      <div class="row">

          <div class="col-xl-4 col-lg-4"></div>

          <div class="col-xl-4 col-lg-4 text-center">

            <form method = "POST" action='/' enctype = "multipart/form-data">
              <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Find!</button>
              </span>
              <input type = "file" name = "file" placeholder="Upload art...">
            </div><!-- /input-group -->
          </form>
        </div>

     <p id = "instructions" class="text-center"> Personalized art curation harnessing the creativity of artificial neural networks! Upload a photo of artwork you love, or choose an example from the gallery below. Your personal gallery will be created instantly.</p>
    </div>

<div class="row">
	<div class="column">
	  <form method="POST" action="/example1">
	    <input type="image" src="/static/img/example1.jpg", name="image" value="/static/img/example-art.jpg">
	  </form>
      <form method="POST" action="/example2">
        <input type="image" src="/static/img/example2.jpg", name="image" value="/static/img/example-art.jpg">
      </form>
       <form method="POST" action="/example3">
        <input type="image" src="/static/img/example3.jpg", name="image" value="/static/img/example-art.jpg">
      </form>
	</div>
	<div class="column">
	  <form method="POST" action="/example4">
	    <input type="image" src="/static/img/example4.jpg", name="image" value="/static/img/example-art.jpg">
	  </form>
	  <form method="POST" action="/example5">
	    <input type="image" src="/static/img/example5.jpg", name="image" value="/static/img/example-art.jpg">
	  </form>
	   <form method="POST" action="/example6">
	    <input type="image" src="/static/img/example6.jpg", name="image" value="/static/img/example-art.jpg">
	  </form>
	</div>
    <div class="column">
	  <form method="POST" action="/example7">
	    <input type="image" src="/static/img/example7.jpg", name="image" value="/static/img/example-art.jpg">
	  </form>
      <form method="POST" action="/example8">
        <input type="image" src="/static/img/example8.jpg", name="image" value="/static/img/example-art.jpg">
      </form>
       <form method="POST" action="/example9">
        <input type="image" src="/static/img/example9.jpg", name="image" value="/static/img/example-art.jpg">
      </form>
  </div>
</div>


</body>

<script type="text/javascript" src="/static/js/index.js"></script>


{% endblock %}
