
{% extends "layout.html" %}


{% block head %}
<title> Art Network </title>
{% endblock %}









{% block body %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">ART MAGIC</a></li>
        <li><a href="http://www.google.com">About Me</a></li>
        <li><a href="http://www.github.com/adampallus/artnetwork">Artnetwork Github Page</a></li>
        <li><a href="http://www.google.com"> How does it work? <span class="sr-only">(current)</span></a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Background image -->
<!--body background='/static/img/background.png' height='100%'-->



    <!-- <div class='vertical-center'> -->



    <!-- Logo -->
    <div class="row top10bottom2">
      <div class="col-lg-4 col-md-4"></div>

      <div class="col-lg-4 col-md-4 center-block">
        <img class='center-block img-responsive' src="/static/img/artmagic-logo.jpg"/ max-width='50%';>
      </div>

      <div class="col-lg-4 col-md-4"></div>

    </div>


    <!-- Form -->
    <div class="container">

      <div class="row">

          <div class="col-xl-4 col-lg-4"></div>

          <div class="col-xl-4 col-lg-4 text-center">

            <form method = "POST" action='/' enctype = "multipart/form-data">
              <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Find!</button>
              </span>
              <input type = "file" name = "file" placeholder="Upload art...">
            </div><!-- /input-group -->           
          </form>
        </div>



          <div class="col-xl-4 col-lg-4"></div>

      </div>

      <div class"row top5">

        <div class="col-xl-4 col-lg-4"></div>

        <div class="col-xl-4 col-lg-4 text-center">

          <!--a class="link text-success" href="http://www.google.com">Example submission.</a-->

        </div>

        <div class="col-xl-4 col-lg-4"></div>

      </div>

      <div class = "row top5">
        <div class="col-xl-4 col-lg-4"></div>

        <div class="col-xl-4 col-lg-4 text-center">

          <button class="link text-success" id="instructions_link" style="text-decoration:underline; display: inline-block; background-color: Transparent; background-repeat: no-repeat; border: none; outline: none">Instructions</button>
          <p id = "instructions" class="text-success" hidden>Upload a photo of your chosen artwork
            <img class='center-block img-responsive' src="/static/img/example-art.jpg"/ max-width='50%';>
          </p>

        </div>

        <div class="col-xl-4 col-lg-4"></div>

  </div>


  <!-- </div> -->


</body>

<script type="text/javascript" src="/static/js/index.js"></script>


{% endblock %}
